<h1 class="ui center aligned header">
  {{title}}
</h1>

<div class="ui container">
  <form class="ui form segment" action="#" method="post">
    <div class="field">
      <label>Fill the below form</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="title" placeholder="Title" #newtitle>
        </div>
        <div class="field">
          <div class="ui labeled input">
            <div class="ui label">
              http://
            </div>
            <input type="url" name="link" placeholder="example.com" #newlink>
          </div>
        </div>
      </div>
    </div>
    <button   (click) = "addArticle(newtitle, newlink)"
              class="ui positive button">Submit Link</button>
  </form>

  <div class="ui grid posts">
    <app-article
      *ngFor="let article of sortedArticles()"
      [article]="article">
    </app-article>
  </div>
</div>
